<coral-colorinput class="coral-Form-field _coral-ColorInput" id="selectedValue">
    <coral-colorinput-item value="#FE0000" data-dx-value="red" role="option" selected="" class="is-selected" aria-selected="true"></coral-colorinput-item>
    <coral-colorinput-item value="#0000FE" data-dx-value="blue" role="option"></coral-colorinput-item>
    <coral-colorinput-item value="#FEFEFE" data-dx-value="white" role="option"></coral-colorinput-item>
</coral-colorinput>
<input class="dx-ColorInput" type="hidden">

<coral-colorinput class="coral-Form-field _coral-ColorInput" id="customValue">
    <coral-colorinput-item value="#FE0000" data-dx-value="red" role="option"></coral-colorinput-item>
    <coral-colorinput-item value="#0000FE" data-dx-value="blue" role="option"></coral-colorinput-item>
    <coral-colorinput-item value="#FEFEFE" data-dx-value="white" role="option"></coral-colorinput-item>
</coral-colorinput>
<input class="dx-ColorInput" type="hidden">