# Logs
logs
*.log
npm-debug.log*
bash.exe.stackdump

# Runtime data
pids
*.pid
*.seed

# dist files
**/dist/

# Dependency directory
node_modules

.DS_Store
node/
**/target

**.idea
.vscode
.metadata
.checkstyle
*.ipr
*.iml
*.iws
.settings/
.project
.classpath
.history
.repo
