# Logs
logs
*.log
npm-debug.log*
bash.exe.stackdump

# Runtime data
pids
*.pid
*.seed

.DS_Store
node/
**/target

# js
node_modules/
**/dist/**

# VSCode history plugin
.history

**.idea
.vscode
.metadata
.checkstyle
*.ipr
*.iml
*.iws
.settings/
.project
.classpath

.repo
