scripts=["create path (sling:Folder) /var/dx
create service user dx-admin-write
set ACL for dx-admin-write
    allow   jcr:read                                                                    on /,/apps,/conf
    allow   jcr:read,rep:write,jcr:lockManagement,jcr:versionManagement                 on /var/dx
end"]