<sly data-sly-use.footer="com.adobe.dx.content.marketo.models.MarketoFooter"
     data-sly-test.marketoInfo="${footer.marketoConfBasicInfo}"
     data-sly-test="${footer.marketoFormIds || (!wcmmode.disabled && marketoInfo.baseUrl && marketoInfo.munchkinId)}"
     data-sly-use.clientlib="granite/sightly/templates/clientlib.html">
    <script id="dx-MarketoFooter-Script"
            data-url="${marketoInfo.baseUrl @context='text'}"
            data-munchkin-id="${marketoInfo.munchkinId  @context='text'}"
            data-form-ids="${footer.marketoFormIdsJsonRep}"
            src="${marketoInfo.baseUrl}/js/forms2/js/forms2.js"></script>
    <sly data-sly-test="${!wcmmode.disabled}" data-sly-call="${clientlib.js @ categories='dx.content.marketo.author'}"/>
    <sly data-sly-call="${clientlib.js @ categories='dx.content.marketo.publish'}"/>
</sly>
