{
    "extends": [
        "airbnb",
        "plugin:react/recommended",
        "prettier",
        "prettier/standard",
        "prettier/react",
        "plugin:jest/recommended"
    ],
    "parser": "babel-eslint",
    "ignorePatterns": ["webpack.config.js", "node_modules/"],
    "env": {
        "browser": true,
        "es6": true,
        "node": true
    },
    "parserOptions": {
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true,
            "jsx": true
        },
        "sourceType": "module"
    },
    "settings": {
        "import/resolver": {
            "alias": []
        },
        "import/core-modules": [ "react", "react-dom" ]
    },
    "globals": {
        "document": true,
        "window": true,
        "Element": true,
        "HTMLElement": true
    },
    "rules": {
        "class-methods-use-this": "off",
        "indent": [
            "error",
            4,
            {
                "SwitchCase": 1,
                "ignoredNodes": ["ConditionalExpression"]
            }
        ],
        "no-nested-ternary": "off",
        "no-param-reassign": ["error", { "props": false }],
        "react/destructuring-assignment": "off",
        "react/jsx-filename-extension": "off",
        "react/jsx-indent-props": ["error", 4],
        "react/jsx-indent": ["error", 4],
        "react/jsx-props-no-spreading": "off",
        "react/no-unknown-property": ["warn", { "ignore": ["class", "for", "hreflang"] }],
        "react/prop-types": ["off"],
        "react/react-in-jsx-scope": "off"
    }
}
